@font-face {
  font-family: "TrajanPro"; /* Nombre que usarás en tu CSS */
  src: url("fonts/TrajanPro-Bold.otf") format("truetype");
  font-weight: bolder; /* Opcional: Define estilos específicos */
  font-style: normal; /* Opcional: Define estilos específicos */
}
@font-face {
  font-family: "CrimsonTextBold"; /* Nombre que usarás en tu CSS */
  src: url("fonts/CrimsonText-Bold.ttf") format("truetype");
  font-weight: normal; /* Opcional: Define estilos específicos */
  font-style: normal; /* Opcional: Define estilos específicos */
}
@font-face {
  font-family: "CrimsonText"; /* Nombre que usarás en tu CSS */
  src: url("fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: normal; /* Opcional: Define estilos específicos */
  font-style: normal; /* Opcional: Define estilos específicos */
}

.crimsonFontBold {
  font-family: "CrimsonTextBold", Arial, Helvetica, sans-serif;
}

.crimsonFont {
  font-family: "CrimsonText", Arial, Helvetica, sans-serif;
}

#heroLevel.crimsonFont {
  font-size: 33px;
}

.tituloChico.crimsonFont {
  font-size: 32px;
}
.titulo.crimsonFont {
  font-size: 45px;
}

.subtitulo.crimsonFont {
  font-size: 25px;
}

.subtitulo.crimsonFont .inputs {
  font-size: 15px;
}

input.hpBarBattle.crimsonFont {
  font-size: 25px;
}

.mainMenuOption.crimsonFont {
  font-size: 35px;
  padding-top: 60px;
  height: 28vh;
  align-items: center;
}
.mainMenuOption.crimsonFont:hover {
  transform: scale(1.2); /* Scale up instead of increasing font size */
}

button.crimsonFont {
  font-size: 20px;
  border-radius: 8px;
}

button.titulo.crimsonFont {
  margin-top: 10px;
  font-size: 30px;
  border-radius: 10px;
  width: 100%;
}

.letrasRomanasTitle {
  font-family: "TrajanPro", Arial, Helvetica, sans-serif;
}

#HeaderText.letrasRomanasTitle {
  font-size: 60px;
  pointer-events: none;
  user-select: none;
}

#imageHeader {
  background-image: url(img/textures/goldTexture.jpg);
  background-size: 100% 100%;
}

body {
  background-image: url(img/textures/bricktexture.jpg);
  background-size: 40% 60%;
}

/* Styling for input elements */
.inputs {
  width: 200px; /* Sets the width of input fields to 200 pixels */
  text-align: center; /* Centers the text within the input fields */
}

/* Styling for dice elements that are available to use */
.extraDie {
  width: 50px;
  height: 50px;
  background-size: contain; /* Ensure the image scales proportionally */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat;
  background-image: url(img/extraDieOn.png);
  border: none;
  display: flex; /* Flexbox to align content within the container */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

/* Styling for dice elements that are out of use */
.outExtraDie {
  width: 50px;
  height: 50px;
  background-size: contain; /* Ensure the image scales proportionally */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat;
  background-image: url(img/extraDieOff.png);
  border: none;
  display: flex; /* Flexbox to align content within the container */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.randomizerDie {
  width: 35px;
  height: 35px;
  background-size: 100% 100%;

  background-image: url(img/d20.png);
  border: none;
}

.characterCreationScreenOn {
  display: block;
}

.notDisplaying {
  display: none;
}

.creatingScreenStats {
  background-color: rgb(233, 233, 233);
  border-style: outset;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: fantasy;
}
.levelingUpStats {
  background-color: rgb(233, 233, 233);
  border-style: outset;
  border-radius: 15px;
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: fantasy;
}
.niceBorder {
  border-style: solid;
  border-radius: 30px;
  background-color: lightgray;
}

input#userNameInput.crimsonFont {
  font-size: 20px;
}

.niceBorder.crimsonFont.mainMenuOption {
  padding: 10px;
}
.battleStats {
  background-color: rgb(233, 233, 233);
  border-style: outset;
  border-radius: 15px;
  width: 100px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: fantasy;
  margin-bottom: 60px;
}

.hpBarBattle {
  background-color: lightcoral;
  margin-bottom: 20px;
  text-align: center;
}

.battleGladiatorsName {
  font-size: 35px;
  font-style: oblique;
  margin-bottom: 20px;
}

.battleActionButtons {
  background-color: rgba(182, 182, 182, 0.774);
  border-style: outset;
  border-radius: 15px;
  width: 100px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: fantasy;
  margin-bottom: 60px;
  margin-right: 30px;
}

.battleActionButtonsBTN {
  background-color: transparent;
  border: none;
}

.battleLog {
  margin-top: 50px;
  width: 500px;
  height: 250px;
  font-weight: bolder;
  font-size: 120%;
  text-align: center;
  line-height: 135%;
}

.wpnBattleDisplay {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.lvlbattleStats {
  background-color: rgb(233, 233, 233);
  border-style: outset;
  border-radius: 15px;
  width: 100px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: fantasy;
}

.character-image-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* This pushes the content to the bottom */
  align-items: center; /* This centers the images horizontally */
  height: 100%; /* Make sure the container takes the full height */
}

.character-image-column img {
  display: block; /* Ensure the images are block elements */
  margin: 0; /* Remove any default margins */
}

.focusText {
  color: greenyellow;
}
