/* Styling for input elements */
.inputs {
  width: 200px; /* Sets the width of input fields to 200 pixels */
  text-align: center; /* Centers the text within the input fields */
}

/* Styling for dice elements that are available to use */
.extraDie {
  width: 100px;
  height: 100px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-image: url(img/extraDieOn.png);
  border: none;
}

/* Styling for dice elements that are out of use */
.outExtraDie {
  width: 100px;
  height: 100px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-image: url(img/extraDieOff.png);
  border: none;
}

.randomizerDie {
  width: 35px;
  height: 35px;
  background-size: 100% 100%;

  background-image: url(img/d20.png);
  border: none;
}

.characterCreationScreenOn {
  display: block;
}

.notDisplaying {
  display: none;
}
